<html>
<h1 style="font-size: 100px; padding: 0 30px;"> <u>Computer</u> </h1>
<ol>
  <% system.forEach(function(system){ %>
   <li> <%= system.title%> <img src= <%= system.img%> alt="windows" style="width:300;padding:0 60px;"></li>
   <% }); %>
</ol>
</html>