<html>
  <head>
    <link rel="stylesheet" href="../public/style.css">
    <title>Fisrt Login</title>
  </head>
  <body class="admin">
    <header>
      <h1> Please Login First. </h1>
      <a href="/">Login</a>
    </header>
  </body>
</html>