<html>
  <head>
    <link rel="stylesheet" href="../public/style.css">
    <title>Welcome Login</title>
  </head>
  <body class="login"> 
    <header>
      <h1> Welcome Login </h1>
      <form action="/admin" method="post">
        <input type="text" name="user" placeholder="user_id"> <br>
        <input type="password" name="password" placeholder="password"> <br> 
        <p style="font-size: 20px;padding: 10px;margin-top: 20px;color: red;"> <%= systems%> </p>
        <button type="submit">Submit</button>
      </form> 
    </header>
  </body>
</html>